# Tell linguist to ignore shader files, since they
# are not the goal of this project, and simply needed
# in order for TMP to work.

*.shader linguist-vendored=true
*.hlsl linguist-vendored=true
*.cginc linguist-vendored=true
